@import "compass";
@import "base";

/* @font-face definitions */

/* calvert for titles */

@font-face {
    font-family: $titleFont;
    src: url('../fonts/calvert-mt.eot');
    src: url('../fonts/calvert-mt.eot') format('embedded-opentype'),
         url('../fonts/calvert-mt.woff2') format('woff2'),
         url('../fonts/calvert-mt.woff') format('woff'),
         url('../fonts/calvert-mt.ttf') format('truetype'),
         url('../fonts/calvert-mt.svg#CalvertMTRegular') format('svg');
    font-style:normal;
    font-weight:normal;
}

@font-face {
    font-family: $titleFont;
    src: url('../fonts/calvert-mt-bold.eot');
    src: url('../fonts/calvert-mt-bold.eot') format('embedded-opentype'),
         url('../fonts/calvert-mt-bold.woff2') format('woff2'),
         url('../fonts/calvert-mt-bold.woff') format('woff'),
         url('../fonts/calvert-mt-bold.ttf') format('truetype'),
         url('../fonts/calvert-mt-bold.svg#CalvertMTBold') format('svg');
  font-style:normal;
  font-weight:bold;
}




/* scala font content */
@font-face {
    font-family: $bodyFont ;
    src: url('../fonts/scala-sans-regular-webfont.eot');
    src: url('../fonts/scala-sans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/scala-sans-regular-webfont.woff2') format('woff2'),
         url('../fonts/scala-sans-regular-webfont.woff') format('woff'),
         url('../fonts/scala-sans-regular-webfont.ttf') format('truetype'),
         url('../fonts/scala-sans-regular-webfont.svg#scala_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: $bodyFont ;
    src: url('../fonts/scala-sans-bold-italic-webfont.eot');
    src: url('../fonts/scala-sans-bold-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/scala-sans-bold-italic-webfont.woff2') format('woff2'),
         url('../fonts/scala-sans-bold-italic-webfont.woff') format('woff'),
         url('../fonts/scala-sans-bold-italic-webfont.ttf') format('truetype'),
         url('../fonts/scala-sans-bold-italic-webfont.svg#scala_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}




@font-face {
    font-family:$bodyFont ;
    src: url('../fonts/scala-sans-regular-italic-webfont.eot');
    src: url('../fonts/scala-sans-regular-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/scala-sans-regular-italic-webfont.woff2') format('woff2'),
         url('../fonts/scala-sans-regular-italic-webfont.woff') format('woff'),
         url('../fonts/scala-sans-regular-italic-webfont.ttf') format('truetype'),
         url('../fonts/scala-sans-regular-italic-webfont.svg#scala_sansregular_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family:  $bodyFont ;
    src: url('../fonts/scala-sans-bold-webfont.eot');
    src: url('../fonts/scala-sans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/scala-sans-bold-webfont.woff2') format('woff2'),
         url('../fonts/scala-sans-bold-webfont.woff') format('woff'),
         url('../fonts/scala-sans-bold-webfont.ttf') format('truetype'),
         url('../fonts/scala-sans-bold-webfont.svg#scala_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;

}


html, body, p, li, a{
  font-family: $font_sans;
  font-weight:normal;
  color:$textColor;
}

h1, h2, h3, h4, h5, h6{
  font-family: $font_serif;
  font-weight:normal;
  color:$textColor;
}


h1{
  font-size:22px;
  margin-bottom:20px;
}

h2{
  font-size:18px;
  margin-bottom:20px;
}

h3{
  font-size:16px;
}

h4{
  font-size:14px;
}

body{
 
}

.clearboth{
  clear:both;
}

.btn{
  background:$turquoise;
  padding:5px 10px;
  @include border-radius($btnRadius);
  color: #ffffff;
}

.btn:hover{
   color:#ffffff;
}


input[type=text], input[type=email], input[type=number], input[type=date], input[type=password]{
  background:#ffffff;
   @include border-radius($btnRadius);
   border:none;
   padding:3px 5px;
   font-size:12px;
   width: 150px;
   color:$darkGrey;
  
}

input[type=submit], button{
   @include border-radius($btnRadius);
   border:1px solid $turquoise;
   padding:3px 10px;
   font-size:12px;
    background: $turquoise;
    color:#ffffff;
}



/* header */

.navbar-bg{
  background-color:#FFFFFF;
  opacity:0.95;
  display:block;
  width:100%;
  height:$headerHeight;
  position:absolute;
  top:0;
  left:0;
  z-index:3;
  
}

.navbar .container{
  position:relative;
  z-index:5;
}

.navbar{
  z-index:10;
}

.navbar-toggle .icon-bar{
  background-color:$turquoise;
} 

.navbar-brand{
  text-indent: -9999px;
  background-image: url(../../../images/template/investable_logo_196x41.png) ;
  background-position: left center;
  background-repeat: no-repeat;
  background-color:transparent;
  background-size:contain;
  width:196px;
  margin-left:0 !important;
}

.navbar-nav>li>a, .navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
  background:none;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a.active{
  color:$turquoise;
}

.navbar-nav {
  margin-left:20px;
  margin-top:3px;
}

.navbar-header.header_login_btn{
  margin-top:20px;
}

.navbar-header.header_login_btn a.btn{
  background-image: url(../../../images/template/arrow_white_right.png);
  background-repeat: no-repeat;
  background-position: right 5px center;
  padding-right: 25px;
  text-transform:uppercase;
}


@media (max-width:767px){
  .navbar-brand{
    margin-left:10px !important; 
  }
  
   .navbar-toggle{
         margin-right:100px;
  }
  
  .collapse .navbar-nav {
     margin:0;
     padding-left:0; 
     padding-right:0;
     
  }
  .container>.navbar-collapse{
      
     padding-left:0; 
     padding-right:0;
     margin: 0 -15px;
  }
  
  .navbar-nav li a{
    background-color:$turquoise;
    color:#ffffff;
    border-top:1px solid #cccccc;
  }
  
  .collapse .navbar-nav li a:hover, .collapse .navbar-nav li a:active{
     background:#ffffff;
     color:$turquoise;
  }
  
  .navbar-header.header_login_btn{
    margin-top:-$headerHeight+20px;
  }
  
   .navbar-header.header_login_btn a.btn{
      position:absolute;
      right:10px;
     
  }
}

@media (max-width:320px){
  .navbar-brand{
    max-width:120px;
  
  }
  
 
  
  
 
}
/* end of header */


/* footer */

footer{
  background-color:$turquoise;
  color:#ffffff;
}

footer p{
  color:#ffffff;
}

footer h3, footer h3 a, footer h3 a:hover, footer h3 a:active{
  font-family: $font_serif;
  color:#ffffff;
  font-weight:normal;
  text-decoration:none;
}

footer ul{
  margin:0;
  padding:0;
  list-style-type:none;
}

footer ul li{
  margin:0;
  padding:0;
  list-style-type:none;
}

footer ul li a, footer ul li a:hover, footer ul li a.active, footer ul li a:focus{
  color:#fff;
}

footer .footer_social a.footer_social_icon{
  display:inline-block;
  width:22px;
  height:22px;
  text-indent:-9999px;
  background-color:#fff;
  @include border-radius($btnRadius);
  background-repeat: no-repeat;
  background-position: center center;
  margin-right:5px;
}

footer .footer_social .facebook{
  background-image:url(../../../images/template/social_facebook_18x18.png);
}

footer .footer_social .gplus{
  background-image:url(../../../images/template/social_gplus_18x18.png);
}

footer .footer_social .linkedin{
  background-image:url(../../../images/template/social_linkedin_18x18.png);
}

footer .footer_social .twitter{
  background-image:url(../../../images/template/social_twitter_18x18.png);
}

footer .footer_social .weibo{
  background-image:url(../../../images/template/social_weibo_18x18.png);
}

footer #newsletter_form input[type=submit]{
  border: 1px solid #ffffff;
  color:#FFFFFF;
  background: transparent;
}

footer #newsletter_form input[type=submit]:hover{
  border:1px solid $turquoise;
  background:#FFFFFF;
  color:$turquoise;
  
}

footer .copyright{
  font-size:11px;
  color:#fff;
  
}

footer .footer_column{
  margin-bottom:30px;
}

/* end of footer= */


.main_content, footer{
  z-index:1; 
}
.main_content section{
  
}

.main_content{
  margin-top: $headerHeight +20px;

}


/* homepage */

.main_content#homepage_content{
  margin-top:0;
}

.jumbotron{
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
  background-color:transparent;
  position:relative;
  background-attachment: fixed;
}

.jumbotron .container{
  
  
}
  h1.site-tagline{
    color:#ffffff;
    font-size:42px;
    text-align:center;
    @include text-shadow();
    padding-top:20%;
    max-width:650px;
    margin:0 auto;
  }
  
  
  
.jumbotron {
  .join_cta{
     text-align:center;
     margin:50px auto;
  }
  
  .registered_members{
    background-position:right center;
    background-repeat:no-repeat;
    background-color:transparent;
    
    padding-right: 80px;
    background-image: url(../../../images/template/investors_icon_71x70.png); 
    height:70px;
    position:absolute;
    right:30px;
    bottom:30px;
  }
  .registered_members p{
    color:#ffffff;
    font-size:16px;
    font-weight:bold;
    text-align:center;
    margin-top:20px;
    line-height:18px;

  }
  
  a.btn.jumbotron_btn{
    background-color:$orange;
    font-size:18px;  
    padding:5px 15px;
    @include box-shadow();
    
  }
  
  a.btn.jumbotron_btn:hover{
    color:#ffffff;
    background-color:$orange;
    
  }
  
  @media (max-width:767px){
    h1.site-tagline{
         font-size:28px;
         margin-top:30px;
    } 
  }
}

  #home_benefits, #about_members-benefits{
    background-color:#f8f8f8;
    
    .benefit{
        float:left;
        width:33%;
        padding-left:60px; 
        padding-right:25px;
        background-position: left top;
        background-repeat:no-repeat;
        height:200px;
        
    }
    
    @media (max-width:990px){
        .benefit{
            height:250px; 
        }
    
    }
    
    @media (max-width:767px){
        .benefit{
            height:220px;
            width:50%;
            background: none !important;
            padding:10px;
        }
    }
    .benefit#top_startup{
        background-image:url(../../../images/template/top_startup_colored.png);
    }
    
    .benefit#customized_approach{
         background-image:url(../../../images/template/customized_approach_colored.png);
    }
    
    .benefit#newsroom{
          background-image:url(../../../images/template/newsroom_colored.png);
    }
    
    .benefit#events{
          background-image:url(../../../images/template/events_colored.png);
    }
    
    .benefit#documentation{
          background-image:url(../../../images/template/documentation_colored.png);
    } 
     
    .benefit#community{
          background-image:url(../../../images/template/community_colored.png);
    }
  }
  
  
  
  #home_partners{
      
    

  .testimonials{
      padding:0 50px;
      position:relative;
      .testimonial_controls{
              position:absolute;
              top:40%; 
              left:0;
              z-index:10;
              height:40px; 
              width:100%;
              
         }
         
         a.prev_testimonial{
             position:absolute;
             left:0px;
         }
         
         a.next_testimonial{
             position:absolute;
             right:0px; 
         }         
      
      .testimonial_wrapper{
          position:relative;
           
          display:block;
          padding:0 30px;
        
      }
      .testimonial_content, .testimonial_content p{
          font-style:italic;
          
          
      }  
      .testimonial_content::before{
          background:url(../../../images/template/open_quotation.png) left top no-repeat;
          
          width:20px;
          height:20px;
           content: ''; /* you have to define that to make the pseudo elements work */
          position: absolute;
          top: 0;
          left:0px;
      }
      
      .testimonial_content::after{
        background:url(../../../images/template/close_quotation.png) left top no-repeat;
        width:20px;
        height:20px;
          content: ''; /* you have to define that to make the pseudo elements work */
        position: absolute;
        bottom: 0;
        right:0px;
      } 
      
      .testimonial_from{
         margin-top:35px;
         display:block;
         .from_picture{
            float:left;
            margin-right:15px;
         }
         .from{
           float:left;
           display:inline-block;
           font-weight:bold;
           max-width:250px; 
           font-size:16px;
           
         }
         
         .from .title{
           font-weight:normal;
           font-size:14px;
           line-height:16px;
         }
         
         
         .testimonial_controls{
              position:relative;
              top:50%; 
              left:0;
         }
         
         a.prev_testimonial{
             position:absolute;
             left:0;
         }
         
         a.next_testimonial{
             position:absolute;
             right:0;
         }         
      }
      
      
     
  }

   .partners{
          max-width:100%;
          overflow:hidden;
          padding-left:30px;
          
          .partners_wrapper{
             overflow:hidden;
             height:280px;
             
          }
          
          .partner{
             width: 40%;
             float:left;
             display:inline-block;
             height:120px;
              margin:5px 5%;
              text-align:center;
          }
          
          .partner img{
             max-width:100%;
          }
      }
        
}
  
  
  
/* end of homepage */


.main_content.text_page{
  
  margin-bottom:0;
  padding-bottom:30px;
  color:#fff;
  
  h1, h2, h3{  
    color:$orange;
  }
}


/* about us */

#about-us_content{
  margin-top:0;
  
  .section{
      
  }
  
   .intro_section, .section_1, .section_2{
      
      h1, h2, h3, p, a, li{
       
        font-size:120%;
      }
      
    
  }
  
  .intro_section{
    /*  @include background-image(linear-gradient($rosebud, $orange));*/
  }
  
  
  
  .section_1{
      @include background-image(linear-gradient(#fff, $rosebud));
     //background-color:$rosebud;
     
  } 
  
  .section_2{
      @include background-image(linear-gradient($rosebud, $rosebud));
    //background-color:#f8f8f8;
    
    
   
  }
   
  .section_3{
     background-color:#f8f8f8;
     
  }
  
}


/* end about us */

/* team */


/* end team */



 