<div id="info_session_form_wrapper">
				<form name="info_session_form" id="info_session_form" method="post" action="processors/book-info-session-action.html">
					<div class="form_header">Information session</div>
					
					<div class="form_section">
						<p>Want to find out more about Investable and the opportunities that we are offering?<br />Book an information session now!</p>
					    <div class="form_row"><label>Name:</label><input type="text" name="fullname" id="info_fullname" required="required" placeholder="Your Name" value="[[+fullname]]"/></div>
					    <div class="form_row"><label>Email:</label><input type="email" name="email" id="info_email" required="required" placeholder="Email Address" value="[[+email]]"/></div>
						<div class="form_row"><label>Contact Number:</label><input type="text" name="contact_number" id="info_contact" placeholder="Contact Number" value="[[+contact_number]]" /></div>
						<div class="form_row"><label>Remarks:</label><input type="text" name="remarks" id="info_remarks" placeholder="Remarks..." /></div>
					</div>
					<div class="form_section submit">
							<div class="form_row"><input type="submit" name="info_submit" id="info_submit" value="Book Now" /></div>
					</div>
					<div class="form_thankyou_message">
						<p>Thank you. We have received your request and we will be in touch with you shortly.</p>
					</div>
				</form>
				</div>