<html>
	<head>
		
		<title>Investable [[+subject]]</title></head>
	<body>
		<table width="450px" border="0" cellspacing="0" cellpadding="5">
			<tr>
				<td width="15" bgcolor="#20B6AE">&nbsp;</td>
				<td align="left"  bgcolor="#20B6AE"></td>
				<td width="15"  bgcolor="#20B6AE">&nbsp;</td>
				
			</tr>
			<tr>
				<td width="15" bgcolor="#20B6AE">&nbsp;</td>
				<td align="left"><img src="http://www.investable.vc/assets/images/template/investable_logo_196x41.png" alt="Investable" /></td>
				<td width="15" bgcolor="#20B6AE">&nbsp;</td>
			</tr>
			<tr>
				<td width="15" bgcolor="#20B6AE">&nbsp;</td>
				<td align="left"  bgcolor="#FFF">[[+msg]]</td>
				<td width="15"  bgcolor="#20B6AE">&nbsp;</td>
				
			</tr>
			<tr>
				<td width="15" bgcolor="#20B6AE">&nbsp;</td>
				<td align="left"  bgcolor="#20B6AE"></td>
				<td width="15"  bgcolor="#20B6AE">&nbsp;</td>
				
			</tr>
			
		</table>
		
	</body>
	
</html>