<div id="login_form_wrapper">
   
  
   <form name="login_form"  action="[[~10]]" method="post" >
       <input class="returnUrl" type="hidden" name="returnUrl" value="[[+request_uri]]" />
       <input class="loginLoginValue" type="hidden" name="service" value="login" />
     
      <div class="form_section social_signin">
         <script type="IN/Login"></script>
          <div id="profiles"></div>
      </div>
      <div class="form_section">
      <div class="form_row"> <div class="loginMessage">[[+errors]]</div></div>
	  <div class="form_row"><label>[[%field.email? &topic=`form` &namespace=`investable`]]</label><input type="text" name="username" placeholder="[[%field.email? &topic=`form` &namespace=`investable`]]" /></div>
      <div class="form_row"><label>[[%field.password? &topic=`form` &namespace=`investable`]]</label><input type="password" name="password" placeholder="[[%field.password? &topic=`form` &namespace=`investable`]]" /></div>
      </div>
      <div class="form_section submit">
         <div class="form_row">[[+login.recaptcha_html]]</div>
         <div class="form_row"><input type="submit" name="login_submit" value="[[+actionMsg]]" /> <a href="[[~44]]">[[%msg.forgot_password? &topic=`form` &namespace=`investable`]]</a></div>
     	<div class="form_row">
     		[[%msg.not_member? &topic=`form` &namespace=`investable`]]
     		<a href="[[~9]]">[[%msg.register_now? &topic=`form` &namespace=`investable`]]</a>
     		
     	</div>
      </div>
      
     
   </form>


</div>