<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="[[++cultureKey]]"> <!--<![endif]-->
    <head>
       [[$page_head]]
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  	
  	[[$site_nav]]

  
    <div class="main_content" id="[[*alias]]_content">
    	<!--
    	<section class="section intro_section">
	    	
    		<div class="container">
    		<h1>[[*longtitle:ne=``:then=`[[*longtitle]]`:else=`[[*pagetitle]]`]]</h1>
	   		[[*content]]
	   		</div>
		</section>
		
		-->
	  	 [[!getResources? &parents=`[[*id]]` &tpl=`aboutus_item` &showHidden=`1` &includeContent=`1` &hideContainers=`0` &sortby=`{"menuindex":"ASC"}`]]
                
	</div>
	[[$page_footer]]
   
	
   <script type="text/javascript">
   		$(document).ready(function(){
   			$(".main_content").fullpage({
				verticalCentered: true,
				autoScrolling: false,
				scrollBar: true,
				responsive: 768,
				navigation: false,
				navigationPosition: 'right',
				navigationTooltips: ['What is Investable', 'Why Investable']

			});
   		});
   </script>

     
    </body>
</html>
