<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="[[++cultureKey]]"> <!--<![endif]-->
    <head>
       [[$page_head]]
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  	
  	[[$site_nav]]

  
    <div class="main_content" id="[[*alias]]_content">
    	<section> 
	    	
    		<div class="container">
    		<h1>[[*longtitle:ne=``:then=`[[*longtitle]]`:else=`[[*pagetitle]]`]]</h1>
	    	<div class="map_wrapper hidden_xs">
    		<div id="map"></div>
    		<div class="map_expand">
    			<div class="circle">
    				<div class="arrow_down"></div>
    			</div>
    			
    		</div>
    		</div>
    		
	   		[[*content]]
	   		</div>
		</section>
	  	
	</div>
	[[$page_footer]]
   
	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD00CRyUKuvfuRoT6V-5QsFctGttGqFqYg">
</script>

   <script type="text/javascript">
   		  var gmap;
      var marker;
      function initialize() {
        var latlng = new google.maps.LatLng([[*lat]],[[*lng]]);
        var mapOptions = {
          center: latlng,
          zoom: 17,
           zoomControl: true,
		    zoomControlOptions: {
		      style: google.maps.ZoomControlStyle.SMALL
		    }
        };
      
        gmap = new google.maps.Map(document.getElementById('map'),
            mapOptions);

        marker =  new google.maps.Marker({
            position: latlng,
            map: gmap,
            icon: "[[!++site_url]]favicon.png",
            title: 'Investable'
            });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
      
      $(".map_expand").on("click", function(e){
      		e.preventDefault();
      		$(".map_wrapper").toggleClass("expand");
      		gmap.panTo({lat:[[*lat]], lng:[[*lng]]});
      	
      });
   </script>

     
    </body>
</html>
