<!DOCTYPE html>
[[$member_head]]
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="[[++cultureKey]]"> <!--<![endif]-->
    <head>
       [[$page_head]]
       <link rel="stylesheet" href="/assets/templates/investable/css/event_calendar.css">
       <script src="[[++assets_url]]templates/investable/js/moment-with-locales.js" type="text/javascript"></script>
       <script src="[[++assets_url]]templates/investable/js/underscore-min.js" type="text/javascript"></script>
        <script src="[[++assets_url]]templates/investable/js/clndr.min.js" type="text/javascript"></script>
        <!-- AddThisEvent -->
		<script type="text/javascript" src="https://addthisevent.com/libs/1.5.8/ate.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  	
  	[[$site_nav]]

   
    <div class="main_content" id="[[*alias]]_content">
    	
	  	 <section> 
	    	
    		<div class="container">
    		<h1>[[*longtitle:ne=``:then=`[[*longtitle]]`:else=`[[*pagetitle]]`]]</h1>
	    	
    			
	   	
	   		
	   		<div>
	   			<div id="event_list" class="col-sm-8">
	   				  [[!getResources? &parents=`[[*id]]` &tpl=`event_list_item` &processTVs=`1` &includeTVs=`1` &includeContent=`1`  &tvFilters=`past_event<>1`  &prepareTVs=`1` &limit=`10` &showHidden=`0` &sortbyTV=`event_date` sortdirTV=`ASC` sortbyTVType=`datettime`]]
	   				 
	   				  [[*content]]
	   				  
	   				  <h2>Past Events</h2>
	   				  [[!getResources? &parents=`[[*id]]` &tpl=`past_event_item` &processTVs=`1` &includeTVs=`1` &includeContent=`1`  &tvFilters=`past_event===1`  &prepareTVs=`1` &limit=`10` &showHidden=`0` &sortbyTV=`event_date` sortdirTV=`DESC` sortbyTVType=`datettime`]]
	   				 
	   			</div>
	   				
		   		<div id="calendars" class="col-sm-4 hidden-xs"> 
		   			<div id="calendar-this-month" class="calendar clearfix"></div>
		   			<div id="calendar-next-month" class="calendar clearfix"></div>
		   		</div>
		   		<div class="clearboth"></div>
	   		</div>
	   		</div>
		</section>
	  	 
	</div>
	[[$page_footer]]
  	[[$member_footer]]
<div class="modal fade event_modal" tabindex="-1" role="dialog" id="event_modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="title-holder"></h4>
        </div>
    	<div id="content-holder">
    	
    	</div>
    </div>
  </div>    
</div>
  <div class="hidden">
  	
  	

  	<div id="rsvp_form_wrapper">
  		<form name="rsvp_form" id="rsvp_form" method="post" action="[[~135]]">
  			<div class="form_header">[[%title.rsvp_for? &namespace=`investable`]] <span class="event_name"></span></div>
  			<input type="hidden" name="eventid" id="event_id" value="" />
  			
  			<div class="form_section">
  				<div class="form_row"><label>[[%field.name? &namespace=`investable`]]</label><input type="text" name="name" id="rsvp_name" placeholder="Name" required value="[[+fullname]]"/></div>
  				<div class="form_row"><label>[[%field.email? &namespace=`investable`]]</label><input type="email" name="email" id="rsvp_email" placeholder="Email Address" required value="[[+email]]" /></div>
  				<div class="form_row"><label>[[%field.attendees? &namespace=`investable`]]</label><input type="number" min="1" name="attendees" id="rsvp_attendees" placeholder="No. of attendees" required /></div> 
  			</div>
  			<div class="form_section submit"> 
  				<input type="submit" name="rsvp_submit" value="[[%title.rsvp_now? &namespace=`investable`]] " />
  			</div>
  		</form>
  		
  	</div>
  </div>

   <script type="text/javascript">
   	addthisevent.settings({
	mouse		: false,
	css			: false,
	outlook		: {show:true, text:"Outlook Calendar"},
	google		: {show:true, text:"Google Calendar"},
	yahoo		: {show:true, text:"Yahoo Calendar"},
	ical		: {show:true, text:"iCal Calendar"},
	hotmail		: {show:true, text:"Hotmail Calendar"},
	facebook	: {show:true, text:"Facebook Calendar"}
});
   
   		var eventList =  [
			     [[!getResources? &parents=`[[*id]]` &tpl=`event_list_data` &processTVs=`1` &includeTVs=`1` &includeContent=`1`  &tvFilters=`past_event<>1`  &prepareTVs=`1` &limit=`100` &showHidden=`0`  &sortbyTV=`event_date` sortdirTV=`ASC` sortbyTVType=`datettime`]]
   	
			  ];
   		$(document).ready(function(){
   			
   			
   			var startMonth = moment(eventList[0].date).format("YYYY-M") + '-1';
   			var thisMonth = $('#calendar-this-month').clndr({
   				template: $('#full-clndr-template').html(), 
   				startWithMonth: moment(startMonth),
   				events: eventList,
   				
   				clickEvents: {
			    	click: function(target){ 
			    		console.log('click');
			    	}
			    }
   			});
   			
   			var nextMonth = $('#calendar-next-month').clndr({
   				template: $('#full-clndr-template').html(), 
   				startWithMonth: moment(startMonth).add(1, "month"),
   				 events: eventList,
   				 clickEvents: {
			    	click: function(target){ 
			    		console.log(target);
			    	}
			    }
   			});
   			
   			$("a.event_rsvp_link").click(function(e){
		    	e.preventDefault();
		    	
		    	var event_name = $(this).parent().parent().parent().data("event-name");
		    	var event_id = $(this).parent().parent().parent().data("eventid");
		    
		    	$("#rsvp_form").find(".event_name").html(event_name);
		    	$("#rsvp_form").children("#event_id").val(event_id);
		    	$.fancybox.open("#rsvp_form_wrapper",{
		    		maxWidth: 450
		    		
		    	});
		    });
		    
		    $(".event_venue").on("click", function(e){
		    	e.preventDefault();
		    	$(this).parent().children(".event_venue_address").slideToggle();
		    	
		    });
		   
		    $("#rsvp_form").submit(function(e){
			    	e.preventDefault();
			    	var fullname = $("#rsvp_form").find("#rsvp_name").val();
			    	var eventname = $("#rsvp_form").find(".event_name").html();
			    	var email = $("#rsvp_form").find("#rsvp_email").val();
			    	var eventid = $("#rsvp_form").find("#event_id").val();
			    	var attendees = $("#rsvp_form").find("#rsvp_attendees").val();
			    	
			    	$.ajax("[[~135]]",{
			    		type:"POST",
			    		data: {"name":fullname, "email":email, "eventname":eventname, "eventid":eventid, "no_attendees":attendees},
			    		complete:function(xhr, status){
			    			if(status == "success"){
			    				$.fancybox.open(xhr.responseText, {
			    						"afterClose": function(){ window.location.reload();}
			    					
			    				});
			    			}else{
			    				alert("There was an error sending the request, please try again.");
			    			}
			    		}
			    	});
			    	
			    });
   			
   			$("a.modal_link").click(function(e){
   				e.preventDefault();
   				var title = $(this).data("title");
   				var content = $(".modal_content " + $(this).data("content")).html();
   				
   				$("#event_modal h4#title-holder").html(title);
   				$("#event_modal #content-holder").html(content);
   				
   				$('#event_modal').modal({
					keyboard: false
				});
	
   			});
   			
   		});
   </script>
   
   <script type="text/template" id="full-clndr-template">
    <div class="clndr-controls">
     
      <div class="current-month"><%= month %> <%= year %></div>

    </div>
    <div class="clndr-grid">
      <div class="days-of-the-week clearfix">
        <% _.each(daysOfTheWeek, function(day) { %>
          <div class="header-day"><%= day %></div>
        <% }); %>
      </div>
      <div class="days">
        <% _.each(days, function(day) { %>
          <div class="<%= day.classes %>" id="<%= day.id %>"><span class="day-number"><%= day.day %></span></div>
        <% }); %>
      </div>
    </div>
   
  </script>
  
 
     
    </body>
</html>
