<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="[[++cultureKey]]"> <!--<![endif]-->
    <head>
       [[$page_head]]
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  	
  	[[$site_nav]]

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <section class="fullpage parallax">
	    <div class="jumbotron section" id="home_lead_image" style="background-image:url([[*content_image]]);">
	    	<div class="container">
	     	[[*content]]
	     	<div class="join_cta">
	     		<a class="btn jumbotron_btn" href="[[~10]]">[[%cta.joinus? &namespace=`investable` ]]</a>
	     	</div>
	     	
	     	<div class="registered_members pull-right">
	     		<p>[[!get_member_count?]] [[%title.registered_investors? &namespace=`investable` ]]</p>
	     	</div>
	     	</div>
	    </div>
	</section>
	
    <div class="main_content" id="homepage_content">
    	<section id="home_news" >
	   		<div class="container">
	   			<h2>[[%title.newsroom? &namespace=`investable` ]]</h2>
	   		</div>
		</section>
	    <section id="home_benefits" >
	    	<div class="container">
	    		<h2>[[%title.members_benefits? &namespace=`investable`]]</h2>
	    		 [[!getResources? &parents=`[[*id]]` &tpl=`home_benefits` &showHidden=`1` &includeContent=`1` &hideContainers=`0` &where=`{"alias:=":"members-benefits"}`]]
                
	    	</div>
	    </section>
		<section id="home_partners">
			<div class="container">
				<h2>[[%title.partners? &namespace=`investable`]]</h2>
				<div class="testimonials col-md-6">
					 [[!getResources? &parents=`[[*id]]` &tpl=`home_testimonials` &showHidden=`1` &includeContent=`1` &hideContainers=`0` &where=`{"alias:=":"testimonials"}`]]
				</div>
				
				<div class="partners col-md-6">
					  [[!getResources? &parents=`[[*id]]` &tpl=`home_partners` &showHidden=`1` &includeContent=`1` &hideContainers=`0` &where=`{"alias:=":"partners"}`]]
                
				</div>
				<div class="clearboth"></div>
			</div>
		</section>
	</div>
	[[$page_footer]]
   
	
   <script type="text/javascript">
   		$("document").ready(function(){
   				$(".fullpage").fullpage({
				verticalCentered: true,
				autoScrolling: false,
				scrollBar: true,
				responsive: 768

			});
   			
   		});
   </script>

     
    </body>
</html>
