<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="[[++cultureKey]]"> <!--<![endif]-->
    <head>
       [[$page_head]]
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  	
  	[[$site_nav]]

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <section class="fullpage parallax">
	    <div class="jumbotron section" id="home_lead_image" style="background-image:url([[*content_image]]);">
	    	<div class="container">
	     	[[*content]]
	     	<div class="join_cta">
	     		<a class="btn jumbotron_btn" href="[[~9]]">[[%cta.joinus? &namespace=`investable` ]]</a>
	     	</div>
	     	
	     	<div class="registered_members pull-right">
	     		<p>[[!get_member_count?]] [[%title.registered_investors? &namespace=`investable` ]]</p>
	     	</div>
	     	</div>
	    </div>
	</section>
	
    <div class="main_content" id="homepage_content">
    	<section id="home_news" >
	   		<div class="container">
	   			<h2>[[%title.newsroom? &namespace=`investable` ]]</h2>
	   		</div>
	   		 
	   		 <div class="feed_wrapper">
	   		 <div id="feed_content"></div>

			</div>	   		
		</section>
	    <section id="home_benefits" >
	    	<div class="container">
	    		<h2>[[%title.members_benefits? &namespace=`investable`]]</h2>
	    		 [[!getResources? &parents=`[[*id]]` &tpl=`home_benefits` &showHidden=`1` &includeContent=`1` &hideContainers=`0` &where=`{"alias:=":"members-benefits"}`]]
                
	    	</div>
	    </section>
		<section id="home_partners">
			<div class="container">
				<h2>[[%title.partners? &namespace=`investable`]]</h2>
				<div class="testimonials col-md-5">
					 [[!getResources? &parents=`[[*id]]` &tpl=`home_testimonials` &showHidden=`1` &includeContent=`1` &hideContainers=`0` &where=`{"alias:=":"testimonials"}`]]
					 <div class="testimonial_controls">
					 	<a href="#" class="prev_testimonial"><img src="assets/images/template/slide_prev_orange.png" /></a>
					 	<a href="#" class="next_testimonial"><img src="assets/images/template/slide_next_orange.png" /></a>
					 </div>
				</div>
				
				
				<div class="partners col-md-7">
					  <div class="partners_wrapper">
					  [[!getResources? &parents=`[[*id]]` &tpl=`home_partners` &showHidden=`1` &includeContent=`1` &hideContainers=`0` &where=`{"alias:=":"partners"}`]]
                	  </div>
				</div>
				<div class="clearboth"></div>
			</div>
		</section>
	</div>
	[[$page_footer]]
   
	
   <script type="text/javascript">
   		var partner_to =0;
   		
   		$("document").ready(function(){
   			$(".fullpage").fullpage({
				verticalCentered: true,
				autoScrolling: false,
				scrollBar: true,
				responsive: 768

			});
			
			if($(window).width() < 767){
				$("#feed_content").rssGrid({
   					"newsCount": 2,
   					"total":3,
					sources: [
						{"name":"Techcrunch", "url":"http://feeds.feedburner.com/techcrunch/startups?format=xml", "icon": "/assets/images/template/techcrunch_icon.png"},
						{"name":"WSJ Technology", "url":"http://online.wsj.com/xml/rss/3_7455.xml", "icon":  "/assets/images/template/wsj_icon.png"},
						{"name": "NY Times", "url":"http://rss.nytimes.com/services/xml/rss/nyt/Business.xml", "icon": "/assets/images/template/nytimes_icon.png"},
						{"name":"Reuters", "url":"http://feeds.reuters.com/reuters/mergersNews?format=xml", "icon":"/assets/images/template/reuters_icon.png"},
						{"name":"FinanceAsia", "url":"http://rss.feedsportal.com/c/32315/fe.ed/http://www.financeasia.com/RSS/rss.ashx?type=Category&ID=733", "icon":"/assets/images/template/financeasia_icon.png"}
					]
					
				});
			}else{
				$("#feed_content").rssGrid({
   					"newsCount": 2,
   					
					sources: [
						{"name":"Techcrunch", "url":"http://feeds.feedburner.com/techcrunch/startups?format=xml", "icon": "/assets/images/template/techcrunch_icon.png"},
						{"name":"WSJ Technology", "url":"http://online.wsj.com/xml/rss/3_7455.xml", "icon":  "/assets/images/template/wsj_icon.png"},
						{"name": "NY Times", "url":"http://rss.nytimes.com/services/xml/rss/nyt/Business.xml", "icon": "/assets/images/template/nytimes_icon.png"},
						{"name":"Reuters", "url":"http://feeds.reuters.com/reuters/mergersNews?format=xml", "icon":"/assets/images/template/reuters_icon.png"},
						{"name":"FinanceAsia", "url":"http://rss.feedsportal.com/c/32315/fe.ed/http://www.financeasia.com/RSS/rss.ashx?type=Category&ID=733", "icon":"/assets/images/template/financeasia_icon.png"}
					]
					
				});
				
			}
			
			partner_to = setInterval(function(){show_more_partners();}, 5000);
   			
   			$(".testimonial").hide();
   			$(".testimonial:first-child").fadeIn(300);
   			
   			
   			$("a.next_testimonial").click(function(e){
   				e.preventDefault();
   				max_testimonial = $(".testimonial").length;
				if(current_testimonial+1 > max_testimonial){
					show_testimonial(1);
				}else{
					show_testimonial(current_testimonial+1);
				}
   			});
   			
   			$("a.prev_testimonial").click(function(e){
   				e.preventDefault(); 
   				max_testimonial = $(".testimonial").length;
				if(current_testimonial -1 <0){
					show_testimonial(max_testimonial);
				}else{
					show_testimonial(current_testimonail-1);
				}
   			});
   		});
   </script>

     
    </body>
</html>
