
<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="[[++cultureKey]]"> <!--<![endif]-->
    <head>
       [[$page_head]]
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  	
  	[[$site_nav]]

  
    <div class="main_content" id="[[*alias]]_content">
    	<section> 
	    	
    		<div class="container">
    		<div class="page-header">
				<h1>[[*longtitle]]</h1>
			</div>
[[!Login? &loginTpl=`login_form` &logoutTpl=`lgnLogoutTpl` &errTpl=`lgnErrTpl` &loginResourceId=`0` &logoutResourceId=`42`]]
	   		</div>
		</section>
	  	
	</div>
	[[$page_footer]]
  
	
   <script type="text/javascript">
   		$(document).ready(function(){
   			//[[++site_url]][[~43]]
   			var return_url = $("#login_form").children("#returnUrl").val();
   			//console.log(return_url);
   			[[!checkLogin:ne=``:then=`
   				if(typeof return_url != "undefined" && return_url != "" ){
   					window.location.href=$("#login_form").children("#returnUrl").val();
   				}else{
   					window.location.href="[[++site_url]][[~43]]";
   				}
   				
   				
   			`]]
   		});
   		
   </script>

     
    </body>
</html>
