/* @font-face definitions */
/* calvert for titles */
@font-face {
  font-family: "CalvertMT";
  src: url("../fonts/calvert-mt.eot");
  src: url("../fonts/calvert-mt.eot") format("embedded-opentype"), url("../fonts/calvert-mt.woff2") format("woff2"), url("../fonts/calvert-mt.woff") format("woff"), url("../fonts/calvert-mt.ttf") format("truetype"), url("../fonts/calvert-mt.svg#CalvertMTRegular") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "CalvertMT";
  src: url("../fonts/calvert-mt-bold.eot");
  src: url("../fonts/calvert-mt-bold.eot") format("embedded-opentype"), url("../fonts/calvert-mt-bold.woff2") format("woff2"), url("../fonts/calvert-mt-bold.woff") format("woff"), url("../fonts/calvert-mt-bold.ttf") format("truetype"), url("../fonts/calvert-mt-bold.svg#CalvertMTBold") format("svg");
  font-style: normal;
  font-weight: bold;
}
/* scala font content */
@font-face {
  font-family: "ScalaSans";
  src: url("../fonts/scala-sans-regular-webfont.eot");
  src: url("../fonts/scala-sans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/scala-sans-regular-webfont.woff2") format("woff2"), url("../fonts/scala-sans-regular-webfont.woff") format("woff"), url("../fonts/scala-sans-regular-webfont.ttf") format("truetype"), url("../fonts/scala-sans-regular-webfont.svg#scala_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ScalaSans";
  src: url("../fonts/scala-sans-bold-italic-webfont.eot");
  src: url("../fonts/scala-sans-bold-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/scala-sans-bold-italic-webfont.woff2") format("woff2"), url("../fonts/scala-sans-bold-italic-webfont.woff") format("woff"), url("../fonts/scala-sans-bold-italic-webfont.ttf") format("truetype"), url("../fonts/scala-sans-bold-italic-webfont.svg#scala_sansbold_italic") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "ScalaSans";
  src: url("../fonts/scala-sans-regular-italic-webfont.eot");
  src: url("../fonts/scala-sans-regular-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/scala-sans-regular-italic-webfont.woff2") format("woff2"), url("../fonts/scala-sans-regular-italic-webfont.woff") format("woff"), url("../fonts/scala-sans-regular-italic-webfont.ttf") format("truetype"), url("../fonts/scala-sans-regular-italic-webfont.svg#scala_sansregular_italic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "ScalaSans";
  src: url("../fonts/scala-sans-bold-webfont.eot");
  src: url("../fonts/scala-sans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/scala-sans-bold-webfont.woff2") format("woff2"), url("../fonts/scala-sans-bold-webfont.woff") format("woff"), url("../fonts/scala-sans-bold-webfont.ttf") format("truetype"), url("../fonts/scala-sans-bold-webfont.svg#scala_sansbold") format("svg");
  font-weight: bold;
  font-style: normal;
}
/* line 98, ../sass/main.scss */
html, body, p, li, a {
  font-family: "ScalaSans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #636363;
}

/* line 104, ../sass/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "CalvertMT", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #636363;
}

/* line 111, ../sass/main.scss */
h1 {
  font-size: 22px;
  margin-bottom: 20px;
}

/* line 116, ../sass/main.scss */
h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

/* line 121, ../sass/main.scss */
h3 {
  font-size: 16px;
}

/* line 125, ../sass/main.scss */
h4 {
  font-size: 14px;
}

/* line 133, ../sass/main.scss */
.clearboth {
  clear: both;
}

/* line 137, ../sass/main.scss */
.btn {
  background: #20B6AE;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
}

/* line 144, ../sass/main.scss */
.btn:hover {
  color: #ffffff;
}

/* line 149, ../sass/main.scss */
input[type=text], input[type=email], input[type=number], input[type=date], input[type=password] {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: none;
  padding: 3px 5px;
  font-size: 12px;
  width: 150px;
  color: #636363;
}

/* line 160, ../sass/main.scss */
input[type=submit], button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #20B6AE;
  padding: 3px 10px;
  font-size: 12px;
  background: #20B6AE;
  color: #ffffff;
}

/* header */
/* line 173, ../sass/main.scss */
.navbar-bg {
  background-color: #FFFFFF;
  opacity: 0.95;
  display: block;
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

/* line 186, ../sass/main.scss */
.navbar .container {
  position: relative;
  z-index: 5;
}

/* line 191, ../sass/main.scss */
.navbar {
  z-index: 10;
}

/* line 195, ../sass/main.scss */
.navbar-toggle .icon-bar {
  background-color: #20B6AE;
}

/* line 199, ../sass/main.scss */
.navbar-brand {
  text-indent: -9999px;
  background-image: url(../../../images/template/investable_logo_196x41.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  width: 196px;
  margin-left: 0 !important;
}

/* line 210, ../sass/main.scss */
.navbar-nav > li > a, .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  background: none;
}

/* line 214, ../sass/main.scss */
.navbar-nav > li > a:hover, .navbar-nav > li > a.active {
  color: #20B6AE;
}

/* line 218, ../sass/main.scss */
.navbar-nav {
  margin-left: 20px;
  margin-top: 3px;
}

/* line 223, ../sass/main.scss */
.navbar-header.header_login_btn {
  margin-top: 20px;
}

/* line 227, ../sass/main.scss */
.navbar-header.header_login_btn a.btn {
  background-image: url(../../../images/template/arrow_white_right.png);
  background-repeat: no-repeat;
  background-position: right 5px center;
  padding-right: 25px;
  text-transform: uppercase;
}

/* line 237, ../sass/main.scss */
.member_dropdown img.top_profile_btn {
  max-height: 25px;
  max-width: 25px;
}
/* line 242, ../sass/main.scss */
.member_dropdown .dropdown-menu {
  left: auto;
  right: 0;
}

@media (max-width: 767px) {
  /* line 251, ../sass/main.scss */
  .navbar-brand {
    margin-left: 10px !important;
  }

  /* line 255, ../sass/main.scss */
  .navbar-toggle {
    margin-right: 100px;
  }

  /* line 259, ../sass/main.scss */
  .collapse .navbar-nav {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  /* line 265, ../sass/main.scss */
  .container > .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
    margin: 0 -15px;
  }

  /* line 272, ../sass/main.scss */
  .navbar-nav li a {
    background-color: #20B6AE;
    color: #ffffff;
    border-top: 1px solid #cccccc;
  }

  /* line 278, ../sass/main.scss */
  .collapse .navbar-nav li a:hover, .collapse .navbar-nav li a:active {
    background: #ffffff;
    color: #20B6AE;
  }

  /* line 283, ../sass/main.scss */
  .navbar-header.header_login_btn {
    margin-top: -50px;
  }

  /* line 287, ../sass/main.scss */
  .navbar-header.header_login_btn a.btn {
    position: absolute;
    right: 10px;
  }

  /* line 293, ../sass/main.scss */
  .member_dropdown {
    position: absolute;
    right: 10px;
  }
}
@media (max-width: 320px) {
  /* line 300, ../sass/main.scss */
  .navbar-brand {
    max-width: 120px;
  }
}
/* end of header */
/* footer */
/* line 315, ../sass/main.scss */
footer {
  background-color: #20B6AE;
  color: #ffffff;
}

/* line 320, ../sass/main.scss */
footer p {
  color: #ffffff;
}

/* line 324, ../sass/main.scss */
footer h3, footer h3 a, footer h3 a:hover, footer h3 a:active {
  font-family: "CalvertMT", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
}

/* line 331, ../sass/main.scss */
footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 337, ../sass/main.scss */
footer ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 343, ../sass/main.scss */
footer ul li a, footer ul li a:hover, footer ul li a.active, footer ul li a:focus {
  color: #fff;
}

/* line 347, ../sass/main.scss */
footer .footer_social a.footer_social_icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  text-indent: -9999px;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 5px;
}

/* line 359, ../sass/main.scss */
footer .footer_social .facebook {
  background-image: url(../../../images/template/social_facebook_18x18.png);
}

/* line 363, ../sass/main.scss */
footer .footer_social .gplus {
  background-image: url(../../../images/template/social_gplus_18x18.png);
}

/* line 367, ../sass/main.scss */
footer .footer_social .linkedin {
  background-image: url(../../../images/template/social_linkedin_18x18.png);
}

/* line 371, ../sass/main.scss */
footer .footer_social .twitter {
  background-image: url(../../../images/template/social_twitter_18x18.png);
}

/* line 375, ../sass/main.scss */
footer .footer_social .weibo {
  background-image: url(../../../images/template/social_weibo_18x18.png);
}

/* line 379, ../sass/main.scss */
footer #newsletter_form input[type=submit] {
  border: 1px solid #ffffff;
  color: #FFFFFF;
  background: transparent;
}

/* line 385, ../sass/main.scss */
footer #newsletter_form input[type=submit]:hover {
  border: 1px solid #20B6AE;
  background: #FFFFFF;
  color: #20B6AE;
}

/* line 392, ../sass/main.scss */
footer .copyright {
  font-size: 11px;
  color: #fff;
}

/* line 398, ../sass/main.scss */
footer .footer_column {
  margin-bottom: 30px;
}

/* end of footer= */
/* line 405, ../sass/main.scss */
.main_content, footer {
  z-index: 1;
}

/* line 412, ../sass/main.scss */
.main_content {
  margin-top: 90px;
}

/* homepage */
/* line 420, ../sass/main.scss */
.main_content#homepage_content {
  margin-top: 0;
}

/* line 424, ../sass/main.scss */
.jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: transparent;
  position: relative;
  background-attachment: fixed;
}

/* line 437, ../sass/main.scss */
h1.site-tagline {
  color: #ffffff;
  font-size: 42px;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(100, 100, 100, 0.8);
  padding-top: 20%;
  max-width: 650px;
  margin: 0 auto;
}

/* line 450, ../sass/main.scss */
.jumbotron .join_cta {
  text-align: center;
  margin: 50px auto;
}
/* line 455, ../sass/main.scss */
.jumbotron .registered_members {
  background-position: right center;
  background-repeat: no-repeat;
  background-color: transparent;
  padding-right: 80px;
  background-image: url(../../../images/template/investors_icon_71x70.png);
  height: 70px;
  position: absolute;
  right: 30px;
  bottom: 30px;
}
/* line 467, ../sass/main.scss */
.jumbotron .registered_members p {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  line-height: 18px;
}
/* line 477, ../sass/main.scss */
.jumbotron a.btn.jumbotron_btn {
  background-color: #F36B22;
  font-size: 18px;
  padding: 5px 15px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(100, 100, 100, 0.8);
  -moz-box-shadow: 2px 2px 5px 0px rgba(100, 100, 100, 0.8);
  box-shadow: 2px 2px 5px 0px rgba(100, 100, 100, 0.8);
}
/* line 485, ../sass/main.scss */
.jumbotron a.btn.jumbotron_btn:hover {
  color: #ffffff;
  background-color: #F36B22;
}
@media (max-width: 767px) {
  /* line 492, ../sass/main.scss */
  .jumbotron h1.site-tagline {
    font-size: 28px;
    margin-top: 30px;
  }
}

/* line 499, ../sass/main.scss */
#home_benefits, #about_members-benefits {
  background-color: #f8f8f8;
}
/* line 502, ../sass/main.scss */
#home_benefits .benefit, #about_members-benefits .benefit {
  float: left;
  width: 33%;
  padding-left: 60px;
  padding-right: 25px;
  background-position: left top;
  background-repeat: no-repeat;
  height: 200px;
}
@media (max-width: 990px) {
  /* line 514, ../sass/main.scss */
  #home_benefits .benefit, #about_members-benefits .benefit {
    height: 250px;
  }
}
@media (max-width: 767px) {
  /* line 521, ../sass/main.scss */
  #home_benefits .benefit, #about_members-benefits .benefit {
    height: 220px;
    width: 50%;
    background: none !important;
    padding: 10px;
  }
}
/* line 528, ../sass/main.scss */
#home_benefits .benefit#top_startup, #about_members-benefits .benefit#top_startup {
  background-image: url(../../../images/template/top_startup_colored.png);
}
/* line 532, ../sass/main.scss */
#home_benefits .benefit#customized_approach, #about_members-benefits .benefit#customized_approach {
  background-image: url(../../../images/template/customized_approach_colored.png);
}
/* line 536, ../sass/main.scss */
#home_benefits .benefit#newsroom, #about_members-benefits .benefit#newsroom {
  background-image: url(../../../images/template/newsroom_colored.png);
}
/* line 540, ../sass/main.scss */
#home_benefits .benefit#events, #about_members-benefits .benefit#events {
  background-image: url(../../../images/template/events_colored.png);
}
/* line 544, ../sass/main.scss */
#home_benefits .benefit#documentation, #about_members-benefits .benefit#documentation {
  background-image: url(../../../images/template/documentation_colored.png);
}
/* line 548, ../sass/main.scss */
#home_benefits .benefit#community, #about_members-benefits .benefit#community {
  background-image: url(../../../images/template/community_colored.png);
}

/* line 559, ../sass/main.scss */
#home_partners .testimonials {
  padding: 0 50px;
  position: relative;
}
/* line 562, ../sass/main.scss */
#home_partners .testimonials .testimonial_controls {
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 10;
  height: 40px;
  width: 100%;
}
/* line 572, ../sass/main.scss */
#home_partners .testimonials a.prev_testimonial {
  position: absolute;
  left: 0px;
}
/* line 577, ../sass/main.scss */
#home_partners .testimonials a.next_testimonial {
  position: absolute;
  right: 0px;
}
/* line 582, ../sass/main.scss */
#home_partners .testimonials .testimonial_wrapper {
  position: relative;
  display: block;
  padding: 0 30px;
}
/* line 589, ../sass/main.scss */
#home_partners .testimonials .testimonial_content, #home_partners .testimonials .testimonial_content p {
  font-style: italic;
}
/* line 594, ../sass/main.scss */
#home_partners .testimonials .testimonial_content::before {
  background: url(../../../images/template/open_quotation.png) left top no-repeat;
  width: 20px;
  height: 20px;
  content: '';
  /* you have to define that to make the pseudo elements work */
  position: absolute;
  top: 0;
  left: 0px;
}
/* line 605, ../sass/main.scss */
#home_partners .testimonials .testimonial_content::after {
  background: url(../../../images/template/close_quotation.png) left top no-repeat;
  width: 20px;
  height: 20px;
  content: '';
  /* you have to define that to make the pseudo elements work */
  position: absolute;
  bottom: 0;
  right: 0px;
}
/* line 615, ../sass/main.scss */
#home_partners .testimonials .testimonial_from {
  margin-top: 35px;
  display: block;
}
/* line 618, ../sass/main.scss */
#home_partners .testimonials .testimonial_from .from_picture {
  float: left;
  margin-right: 15px;
}
/* line 622, ../sass/main.scss */
#home_partners .testimonials .testimonial_from .from {
  float: left;
  display: inline-block;
  font-weight: bold;
  max-width: 250px;
  font-size: 16px;
}
/* line 631, ../sass/main.scss */
#home_partners .testimonials .testimonial_from .from .title {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
/* line 638, ../sass/main.scss */
#home_partners .testimonials .testimonial_from .testimonial_controls {
  position: relative;
  top: 50%;
  left: 0;
}
/* line 644, ../sass/main.scss */
#home_partners .testimonials .testimonial_from a.prev_testimonial {
  position: absolute;
  left: 0;
}
/* line 649, ../sass/main.scss */
#home_partners .testimonials .testimonial_from a.next_testimonial {
  position: absolute;
  right: 0;
}
/* line 659, ../sass/main.scss */
#home_partners .partners {
  max-width: 100%;
  overflow: hidden;
  padding-left: 30px;
}
/* line 664, ../sass/main.scss */
#home_partners .partners .partners_wrapper {
  overflow: hidden;
  height: 280px;
}
/* line 670, ../sass/main.scss */
#home_partners .partners .partner {
  width: 40%;
  float: left;
  display: inline-block;
  height: 120px;
  margin: 5px 5%;
  text-align: center;
}
/* line 679, ../sass/main.scss */
#home_partners .partners .partner img {
  max-width: 100%;
}

/* end of homepage */
/* line 691, ../sass/main.scss */
.main_content.text_page {
  margin-bottom: 0;
  padding-bottom: 30px;
  color: #fff;
}
/* line 697, ../sass/main.scss */
.main_content.text_page h1, .main_content.text_page h2, .main_content.text_page h3 {
  color: #F36B22;
}

/* about us */
/* line 705, ../sass/main.scss */
#about-us_content {
  margin-top: 0;
}
/* line 714, ../sass/main.scss */
#about-us_content .intro_section h1, #about-us_content .intro_section h2, #about-us_content .intro_section h3, #about-us_content .intro_section p, #about-us_content .intro_section a, #about-us_content .intro_section li, #about-us_content .section_1 h1, #about-us_content .section_1 h2, #about-us_content .section_1 h3, #about-us_content .section_1 p, #about-us_content .section_1 a, #about-us_content .section_1 li, #about-us_content .section_2 h1, #about-us_content .section_2 h2, #about-us_content .section_2 h3, #about-us_content .section_2 p, #about-us_content .section_2 a, #about-us_content .section_2 li {
  font-size: 120%;
}
/* line 722, ../sass/main.scss */
#about-us_content .intro_section {
  /*  @include background-image(linear-gradient($rosebud, $orange));*/
}
/* line 728, ../sass/main.scss */
#about-us_content .section_1 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmYjg4MCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ffb880));
  background-image: -moz-linear-gradient(#ffffff, #ffb880);
  background-image: -webkit-linear-gradient(#ffffff, #ffb880);
  background-image: linear-gradient(#ffffff, #ffb880);
}
/* line 734, ../sass/main.scss */
#about-us_content .section_2 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYjg4MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmYjg4MCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffb880), color-stop(100%, #ffb880));
  background-image: -moz-linear-gradient(#ffb880, #ffb880);
  background-image: -webkit-linear-gradient(#ffb880, #ffb880);
  background-image: linear-gradient(#ffb880, #ffb880);
}
/* line 742, ../sass/main.scss */
#about-us_content .section_3 {
  background-color: #f8f8f8;
}

/* end about us */
/* team */
/* end team */
/* member's area */
/* end of members area */
