[[$member_head]]
<!DOCTYPE html>
<html lang="[[++cultureKey]]">
	<head>
		[[$Head]]
	</head>
	<body>
		[[$Navbar]]
		<div class="container main_content" data-uid="[[+id]]">

			<div class="page-header">
				<h1>[[%investable.startup_opportunities? &topic=`default` &namespace=`investable` &language=`en`]]</h1>
			
				[[$member_navigation]]
				<div class="allclear"></div>
			</div>
			<div class="member_content">
				 <div class="note" style="text-align:right">[[%investable.all_currencies? &topic=`default` &namespace=`investable` &language=`en`]]</div>
				<div class="quick_facts">
					<div class="project_logo col-md-4">
						<div class="logo_holder" style="background-image:url([[*content_image:phpthumbof=`w=500&h=300`]]);"></div>
						<div class="company_badges">
							
							[[*rewards:ne=``:then=`
								<div class="startup_badge reward_badge">[[%startups.rewards? &topic=`default` &namespace=`investable` &language=`en`]]<div class="hidden reward_content">[[*rewards]]</div></div>
							`]]
							
							
						</div>
					</div>
					<div class="project_status col-md-8"> 
						<h2>[[*longtitle]]</h2>
						<h3><span class="industry">[[*industry]]</span>[[*country:ne=``:then=`, <span class="country">[[*country]]`]]</span></h3>
						<div class="intro">[[*introtext:nl2br]]</div>
						<div class="fund_status">
							
							[[*stage:ne=``:then=`
							<div class="status_item col-xs-6 col-sm-4" id="stage" data-value="[[*stage]]">
								<div class="status_name">[[%startups.stage? &topic=`default` &namespace=`investable` &language=`en`]]</div>
								<div class="status_number">[[*stage]]</div>
								<div class="allclear"></div>
							</div>
							`]]
							
							[[*raised:ne=``:then=`
							<div class="status_item col-xs-6  col-sm-4" id="raised" data-value="[[*raised]]">
								<div class="status_name">[[%startups.funded? &topic=`default` &namespace=`investable` &language=`en`]]</div>
								<div class="status_number"></div>
								<div class="allclear"></div>
							</div>
							`]]
							
							<div class="status_item col-xs-6  col-sm-4" id="goal" data-value="[[*goal]]">
								<div class="status_name">[[%startups.goal? &topic=`default` &namespace=`investable` &language=`en`]]</div>
								<div class="status_number">[[%startups.currency? &topic=`default` &namespace=`investable` &language=`en`]][[*goal:is=``:then=`0`:else=`[[*goal:numberformat=`&decimals=0&dec_point=.&thousands_sep=,`]]`]]</div>
								<div class="allclear"></div>
							</div>
							
							[[*equity:ne=``:then=`
							<div class="status_item  col-xs-6  col-sm-4" id="equity" data-value="[[*equity]]">
								<div class="status_name">[[%startups.equity_offered? &topic=`default` &namespace=`investable` &language=`en`]]</div>
								<div class="status_number">[[*equity]]</div>
								<div class="allclear"></div>
							</div>
							`]]
							
							[[*premoney:ne=``:then=`
							<div class="status_item  col-xs-6  col-sm-4" id="premoney" data-value="[[*premoney]]">
								<div class="status_name">[[%startups.premoney_valuation? &topic=`default` &namespace=`investable` &language=`en`]]</div>
								<div class="status_number">[[%startups.currency? &topic=`default` &namespace=`investable` &language=`en`]][[*premoney:numberformat=`&decimals=0&dec_point=.&thousands_sep=,`]]</div>
								<div class="allclear"></div>
							</div>
							`]]
							
							[[*postmoney:ne=``:then=`
							<div class="status_item  col-xs-6  col-sm-4" id="postmoney" data-value="[[*postmoney]]">
								<div class="status_name">[[%startups.postmoney_valuation? &topic=`default` &namespace=`investable` &language=`en`]]</div>
								<div class="status_number">[[%startups.currency? &topic=`default` &namespace=`investable` &language=`en`]][[*postmoney:numberformat=`&decimals=0&dec_point=.&thousands_sep=,`]]</div>
								<div class="allclear"></div>
							</div>
							`]]
							
							
							<div class="status_item col-xs-6  col-sm-4" id="countdown" data-target_date="[[*unpub_date]]">
								<div class="status_name">[[%startups.time_left_to_support? &topic=`default` &namespace=`investable` &language=`en`]]</div>
								<div class="status_number"></div>
								<div class="allclear"></div>
							</div>
							<div class="allclear"></div>
						</div>
						
						<div class="investment_badges">
							[[*invested_by_nest:ne=``:then=`
								<div class="startup_badge nest_badge">[[%startups.invested_by? &topic=`default` &namespace=`investable` &language=`en`]]</div>
							`]]
							
							[[*invested_by_angellist:ne=``:then=`
								<div class="startup_badge angellist_badge">[[%startups.invested_by? &topic=`default` &namespace=`investable` &language=`en`]]</div>
							`]]
							
						</div>
					</div>
					
					<div class="allclear"></div>
					
				</div>
				
				<div class="company_info">
					<div class="company_details col-md-8">
						
						[[*youtube:ne=``:then=`
						   <div class="company_pitch_video">
							<iframe width="100%" height="300" src="//www.youtube.com/embed/[[getYouTubeId? &input=`[[*youtube]]`]]" frameborder="0" allowfullscreen></iframe>
							</div>
							
						`]]
						<div class="company_description">
							
							
							[[*content:ne=``:then=`<h3>[[%startups.company_description? &topic=`default` &namespace=`investable` &language=`en`]]</h3>[[*content]]`]]
							
							[[*business_model:ne=``:then=`<h3>[[%startups.business_model? &topic=`default` &namespace=`investable` &language=`en`]]</h3>[[*business_model]]`]]
							[[*market:ne=``:then=`<h3>[[%startups.market_competition? &topic=`default` &namespace=`investable` &language=`en`]]</h3>[[*market]]`]]
							[[*product_description:ne=``:then=`<h3>[[%startups.product_description? &topic=`default` &namespace=`investable` &language=`en`]]</h3>[[*product_description]]`]]
							[[*projections:ne=``:then=`<h3>[[%startups.projections? &topic=`default` &namespace=`investable` &language=`en`]]</h3>[[*projections]]`]]
							
							[[*registered_ip:ne=``:then=`<h3>[[%startups.registered_ip? &topic=`default` &namespace=`investable` &language=`en`]]</h3>[[*registered_ip]]`]]
							[[*mobile_app:ne=``:then=`<h3>[[%startups.mobile_app? &topic=`default` &namespace=`investable` &language=`en`]]</h3>[[*mobile_app]]`]]
							[[*use_of_funds:ne=``:then=`<h3>[[%startups.use_of_funds? &topic=`default` &namespace=`investable` &language=`en`]]</h3>[[*use_of_funds]]`]]
							[[*news:ne=``:then=`<h3>[[%startups.news_press? &topic=`default` &namespace=`investable` &language=`en`]]</h3>[[*news]]`]]
							<div class="company_investors">
								[[!get_company_investors:ne=`0`:then=`
								 <h3>[[%startups.investors_invested_in? &topic=`default` &namespace=`investable` &language=`en`]] [[*longtitle]]</h3>
								  <div class="investor_list user_list">[[!get_company_investors? &companyid=`[[*id]]` &getCount=`0`]]
								  	<div class="allclear"></div>
								  	</div>
								`? &getCount=`1`  &companyid=`[[*id]]` ]]
								
							</div>
							
					        <div class="company_followers">
					        	
					        	[[!get_company_followers:ne=`0`:then=`
					        	    <h3>[[%startups.investors_following? &topic=`default` &namespace=`investable` &language=`en`]] [[*longtitle]]</h3>
								   <div class="follower_list user_list">[[!get_company_followers?  &getCount=`0`  &companyid=`[[*id]]` ]]
								   	<div class="allclear"></div>
								   	</div>
								`? &getCount=`1`  &companyid=`[[*id]]` ]]
					        </div>
							
						</div>
					</div>
					<div class="company_founder col-md-4">
						
						[[!get_company_founders? &founders=`[[*founder]]`]]
						
					</div>
					<div class="allclear"></div>
				</div>
				
				<div class="floating_content">
					<div class="support_company">
						<a class="btn support_button invest_company" title="Support" href="#">[[%startups.invest? &topic=`default` &namespace=`investable` &language=`en`]] (<span class="count">[[!get_company_investors? &companyid=`[[*id]]` &getCount=`1`]]</span>)</a>
						<a class="btn support_button follow_company" title="Follow" href="#">[[%startups.add_favourite? &topic=`default` &namespace=`investable` &language=`en`]] (<span class="count">[[!get_company_followers? &companyid=`[[*id]]` &getCount=`1`]]</span>)</a>
						<a class="btn support_button meet_company" title="Meet The Startup" href="#">[[%startups.meet? &topic=`default` &namespace=`investable` &language=`en`]]</a>
					</div>
				</div>
			</div>
			 
		</div>
		[[$Footer]]
		[[$member_footer]]
		<script type="text/javascript">  
		    var percentage_raised = 0;
			$(document).ready(function(){
				var bottomPad = 80;
				
				$(window).scroll(function(e){
					$(".floating_content").finish();
					var wtop = $(window).scrollTop();
					var wheight = $(window).height();
					var currTop = $(".floating_content").offset().top;
					var diff = currTop - (top+wheight);
				   
					$(".floating_content").animate({
						top: (wtop+wheight-bottomPad)+"px",	
					}, 1500, function(){});
					
				});
				
				$(".reward_badge").click(function(e){
					e.preventDefault();
				
					
				});
				
				
				var investment_goal = $("#goal").data("value");
				var investment_raised = $("#raised").data("value");
				
				percentage_raised = Math.ceil(investment_raised*100/investment_goal);
				//if(percentage_raised >70){
					$("#raised .status_number").html(percentage_raised + "%");
				//}else{
				//	$("#raised").remove();
				//}
				
				
				setInterval(function(){
					update_countdown($("#countdown").data("target_date"));
					
				}, 1000);
							
			    $("a.follow_company").click(function(e){
			    	e.preventDefault();
			    	var companyname ="[[*longtitle]]";
			    	var companyid = "[[*id]]";
			    	
			    	$.ajax("[[~80]]",{
			    		type:"POST",
			    		data: {"companyid":companyid, "companyname":companyname},
			    		complete:function(xhr, status){
			    			if(status == "success"){
			    				$.fancybox.open(xhr.responseText);
			    			}else{
			    				alert("There was an error sending the request, please try again.");
			    			}
			    		}
			    	});
			    	
			    });
			    
			    $("a.invest_company").click(function(e){
			    	e.preventDefault();
			    	var companyname ="[[*longtitle]]";
			    	var companyid = "[[*id]]";
			    	
			    	$.ajax("[[~81]]",{
			    		type:"POST",
			    		data: {"companyid":companyid, "companyname":companyname},
			    		complete:function(xhr, status){
			    			if(status == "success"){
			    				$.fancybox.open(xhr.responseText);
			    			}else{
			    				alert("There was an error sending the request, please try again.");
			    			}
			    		}
			    	});
			    	
			    });
			    
			    $("a.meet_company").click(function(e){
			    	e.preventDefault();
			    	var companyname ="[[*longtitle]]";
			    	var companyid = "[[*id]]";
			    	
			    	$.ajax("[[~82]]",{
			    		type:"POST",
			    		data: {"companyid":companyid, "companyname":companyname},
			    		complete:function(xhr, status){
			    			if(status == "success"){
			    				$.fancybox.open(xhr.responseText);
			    			}else{
			    				alert("There was an error sending the request, please try again.");
			    			}
			    		}
			    	});
			    	
			    });
				
			});
			
			
			
			function update_countdown(end_date){
				//var target_date = new Date(end_date).getTime();
				var end_date = end_date.split(" ")[0].split("-");
   				 var target_date = new Date( end_date[0], (end_date[1]-1), end_date[2], 0, 0, 0 ).getTime();
				
				var days, hours, minutes, seconds;
				var current_date = new Date().getTime();
                var seconds_left = (target_date - current_date) / 1000;
                
                days = parseInt(seconds_left / 86400);
				
				$("#countdown .status_number").html(days + " [[%startups.days? &topic=`default` &namespace=`investable` &language=`en`]]");
				
			}

		</script>
		
		
	</body>
</html>