[[$member_head]]
<!DOCTYPE html>
<html lang="[[++cultureKey]]">
	<head>
		[[$Head]]
	</head>
	<body>
		[[$Navbar]]
		<div class="container main_content">

			<div class="page-header">
				<h1>[[*longtitle]]</h1>
			
				[[$member_navigation]]
				<div class="allclear"></div>
			</div>
			<div class="member_content">
				<div id="message_table" data-load-url="[[~60]]">
					<div class="message_table_row header_row">
						<div class="msg_date">Date</div>   
						<div class="msg_subject">Subject</div>
						<div class="msg_sender">Sender</div>
						<div class="allclear"></div>
					</div>
					[[!get_received_messages? &limit=`10` &chunk=`received_message_row`]]
				</div>
				
			</div>
		</div>
		[[$Footer]]
			[[$member_footer]]
		<script type="text/javascript">
			

		</script>
	</body>
</html>